
body {
    
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header 
    max-width: 800px;
    margin-bottom: 20px;{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header img {
    width: 150px;
}
 #hero {
    background-image: url('https://i.pinimg.com/1200x/a8/d8/82/a8d8829e03e76e7173c4aea253abe4d5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
    padding: 60px 0;
}
nav ul {
    text-align: center;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.header-bg {
    width: 100%;
    height: auto;
}

.top-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.top-menu a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #000000;
    margin-top: 150px;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
}

.reviews {
    padding: 40px;
}

.review-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review-item h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-style: italic;
}

.review-item p {
    color: #666;
    line-height: 1.5;
}

.feedback {
    background-color: #f5f5f5;
    padding: 40px;
    text-align: center;
}

.feedback h2 {
    color: #333;
    margin-bottom: 20px;
}

.feedback ul {
    list-style-type: none;
    padding: 0;
}

.feedback li {
    display: inline-flexbox;
    margin-bottom: 10px;
    color: #666;
}

.feedback a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
